<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/assets/images/btpn.png" type="image/x-icon">

  <title>WebKYC BTPN</title>

  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/WebRTC/app.css" type="text/css" />
</head>

<body>
  {{{body}}}

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/scripts.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
</body>

</html>