{{> header}}
{{> welcome}}

<div class="container mt-3">
    {{> message}}
    <a href="#" class="btn btn-primary mb-2">New User</a>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">NO</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <th scope="row">{{counter @index}}</th>
                    <td>{{name}}</td>
                    <td>{{customerNumber}}</td>
                    <td>{{phoneNumber}}</td>
                    <td class="text-center text-white">
                        <a href="#" class="btn btn-primary mb-1"><i class="fas fa-user-edit"></i></a>
                        <a href="#" class="btn btn-danger mb-1"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{> footer}}