{{> header}}
{{> welcome}}
<div class="container mt-3">
    <div class="row justify-content-around ">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="/sales/offering">
                <div class="card m-3 shadow">
                    <div class="card-header text-center font-weight-bolder">Offering</div>
                    <div class="card-body">
                        <img src="../assets/images/opering.png" class="rounded mx-auto d-block" alt="Offering">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="/sales/confirmation">
                <div class="card m-3 shadow">
                    <div class="card-header text-center font-weight-bolder">Confirmation</div>
                    <div class="card-body">
                        <img src="../assets/images/confirm.png" class="rounded mx-auto d-block" alt="Confirmation">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            {{!-- <a href="/sales/slik-checking"> --}}
            <div class="card m-3 shadow">
                <div class="card-header text-center font-weight-bolder">SLIK Checking</div>
                <div class="card-body">
                    <img src="../assets/images/checking.png" class="rounded mx-auto d-block" alt="SLIK Checking">
                </div>
            </div>
            {{!-- </a> --}}
        </div>
    </div>
    <div class="row justify-content-around ">
        <div class="col-sm-12 col-md-6 col-lg-4">
            {{#if isManager}}
            <a href="/sales/verification">
                <div class="card m-3 shadow">
                    <div class="card-header text-center font-weight-bolder">Verification</div>
                    <div class="card-body">
                        <img src="../assets/images/verify.png" class="rounded mx-auto d-block" alt="Verification">
                    </div>
                </div>
            </a>
            {{else}}
            <div class="card m-3 shadow">
                <div class="card-header text-center font-weight-bolder">Verification</div>
                <div class="card-body">
                    <img src="../assets/images/verify.png" class="rounded mx-auto d-block" alt="Verification">
                </div>
            </div>
            {{/if}}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            {{!-- <a href="/sales/disbursement"> --}}
            <div class="card m-3 shadow">
                <div class="card-header text-center font-weight-bolder">Disbursement</div>
                <div class="card-body">
                    <img src="../assets/images/disburement.png" class="rounded mx-auto d-block" alt="Disbursement">
                </div>
            </div>
            {{!-- </a> --}}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            {{!-- <a href="/sales/monitoring"> --}}
            <div class="card m-3 shadow">
                <div class="card-header text-center font-weight-bolder">Monitoring</div>
                <div class="card-body">
                    <img src="../assets/images/monitoring.png" class="rounded mx-auto d-block" alt="monitoring">
                </div>
            </div>
            {{!-- </a> --}}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            {{#if isAdmin}}
            <a href="/sales/administration">
                <div class="card m-3 shadow">
                    <div class="card-header text-center font-weight-bolder">Adminstration</div>
                    <div class="card-body">
                        <img src="../assets/images/admin.png" class="rounded mx-auto d-block" alt="Adminstration">
                    </div>
                </div>
            </a>
            {{else}}
            <div class="card m-3 shadow">
                <div class="card-header text-center font-weight-bolder">Adminstration</div>
                <div class="card-body">
                    <img src="../assets/images/admin.png" class="rounded mx-auto d-block" alt="Adminstration">
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>
{{> footer}}