{{> header}}
<div class="container" style="margin-top: 90px;">
    <div class="row">
        <div class="col-12">
            <h5 class="text-right">Selamat Datang, aloel Dev</h5>
        </div>
    </div>
    <h1 class="text-center">Menu Utama</h1>
</div>
<div class="container mt-3">
    <div class="row justify-content-around ">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="/offering">
                <div class="card m-3 shadow">
                    <div class="card-header text-center font-weight-bolder">Offering</div>
                    <div class="card-body">
                        <img src="assets/images/opering.png" class="rounded mx-auto d-block" alt="Offering">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="/confirmation">
                <div class="card m-3 shadow">
                    <div class="card-header text-center font-weight-bolder">Confirmation</div>
                    <div class="card-body">
                        <img src="assets/images/confirm.png" class="rounded mx-auto d-block" alt="Confirmation">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card m-3 shadow">
                <div class="card-header text-center font-weight-bolder">SLIK Checking</div>
                <div class="card-body">
                    <img src="assets/images/checking.png" class="rounded mx-auto d-block" alt="SLIK Checking">
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-around ">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card m-3 shadow">
                <div class="card-header text-center font-weight-bolder">Verification</div>
                <div class="card-body">
                    <img src="assets/images/verify.png" class="rounded mx-auto d-block" alt="Verification">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card m-3 shadow">
                <div class="card-header text-center font-weight-bolder">Disbursement</div>
                <div class="card-body">
                    <img src="assets/images/disburement.png" class="rounded mx-auto d-block" alt="Disbursement">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card m-3 shadow">
                <div class="card-header text-center font-weight-bolder">Monitoring</div>
                <div class="card-body">
                    <img src="assets/images/monitoring.png" class="rounded mx-auto d-block" alt="monitoring">
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}