{{> header}}
{{> welcome}}

<div class="container mt-3">
    <form action="/create-customer" method="POST">
        <div class="form-group row">
            <label for="nama" class="col-sm-2 col-form-label">Nama</label>
            <div class="col-sm-5">
                <input type="text" name="name" value="name" class="form-control" id="name">
            </div>
        </div>
        <div class="form-group row">
            <label for="nopen" class="col-sm-2 col-form-label">Nopen</label>
            <div class="col-sm-5">
                <input type="text" name="customerNumber" value="nopen" class="form-control" id="nopen">
            </div>
        </div>
        <div class="form-group row">
            <label for="no-telp" class="col-sm-2 col-form-label">No telp</label>
            <div class="col-sm-5">
                <input type="text" name="phoneNumber" value="021" class="form-control mb-3" id="no-telp">
            </div>
        </div>
        <h3>Result : </h3>
        <div class="input-group">
            <div class="input-group-text mr-1 mb-1">
                <input type="radio" value="0" name="result" aria-label="Pre-Confirmation">
            </div>
            <h5>Pre-Confirmation</h5>
        </div>
        <div class="input-group">
            <div class="input-group-text mr-1 mb-1">
                <input type="radio" value="1" name="result" aria-label="Follow Up">
            </div>
            <h5>Follow Up</h5>
        </div>
        <div class="input-group">
            <div class="input-group-text mr-1 mb-1">
                <input type="radio" value="2" name="result" aria-label="Reject">
            </div>
            <h5>Reject</h5>
        </div>
        <h3 class="mt-2">Catatan : </h3>
        <div class="form-group">
            <textarea class="form-control" name="note" id="catatan" rows="3"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success">
            <a href="#" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>
{{> footer}}