{{> header}}

<div class="container" style="margin-top: 90px;">
    <div class="row">
        <div class="col-12">
            <h5 class="text-right">Selamat Datang, aloel Dev</h5>
        </div>
    </div>
    <h1 class="text-center">OFFERING</h1>
</div>
<div class="container mt-3">
    <div class="row justify-content-around ">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="/offering-data-potensi">
                <div class="card m-3 shadow">
                    <div class="card-header text-center font-weight-bolder">Data Potensi</div>
                    <div class="card-body">
                        <img src="assets/images/data-potensi.png" class="rounded mx-auto d-block" alt="Data Potensi">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="/offering-canvas">
                <div class="card m-3 shadow">
                    <div class="card-header text-center font-weight-bolder">Canvasing</div>
                    <div class="card-body">
                        <img src="assets/images/canvasing.png" class="rounded mx-auto d-block" alt="Canvasing">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{{> footer}}