{{> header}}
{{> welcome}}

<div class="container mt-3">
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">NO</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Nopen</th>
                    <th scope="col">No telp</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>1234567</td>
                    <td>0213435353</td>
                    <td>
                        <button class="btn btn-link">
                            <i class="fas fa-mail-bulk"></i> Request SLIK Checking</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jhon</td>
                    <td>12323121321</td>
                    <td>0212234234</td>
                    <td>
                        <button class="btn btn-link">
                            <i class="fas fa-mail-bulk"></i> Kirim SMS Credit Approve</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Angel</td>
                    <td>2344212124</td>
                    <td>121212414</td>
                    <td>
                        <button class="btn btn-link">
                            <i class="fas fa-mail-bulk"></i> Kirim SMS Credit reject</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Agness</td>
                    <td>1234567</td>
                    <td>0213435353</td>
                    <td>
                        <button class="btn btn-link">
                            <i class="fas fa-mail-bulk"></i> Request SLIK Checking</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{> footer}}