{{> header}}
<div class="container" style="margin-top: 90px;">
    <p>Selamat datang, Bapak/ibu <span class="font-weight-bold">Nova dev</span></p>
    <p>Saat ini anda terhubung dengan sales BTPN <span class="font-weight-bold">Wahyudin dev</span> , untuk proses
        pengajuan pinjaman
    </p>
    <div class="row mx-3 mt-3">
        <div class="col-sm-12 col-md-8 border py-3">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <video class="embed-responsive" width="470" height="600" autoplay controls></video>
                </div>
                <div class="col-sm-12 col-md-4">
                    <video class="embed-responsive" width="200" height="200" autoplay controls></video>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 border">
            <h3 class="text-center">Tools</h3>
            <button class="btn btn-warning btn-block">Video Call</button>
            <button class="btn btn-warning btn-block">Send File</button>
            <button class="btn btn-warning btn-block">Pen</button>
            <button class="btn btn-warning btn-block">Request End Call</button>
        </div>
    </div>
</div>
{{> footer}}