{{> header}}
{{> welcome}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <form>
                <div class="form-group row">
                    <label for="nama" class="col-sm-2 col-form-label">Nama</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nama">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nopen" class="col-sm-2 col-form-label">Nopen</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nopen">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="no-telp" class="col-sm-2 col-form-label">No telp</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control mb-2" id="no-telp">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-4">
            <button class="btn btn-danger" type="submit"><i class="fas fa-phone-slash"></i> End Call</button>
        </div>
    </div>
    <div class="row mx-3">
        <div class="col-md-8 border px-0">
            <div class="room-comm" style="min-height: 500px;" hidden id="wrapper-camera">
                <video class="local-video mirror-mode" id='local' volume='0' autoplay muted></video>
                <div id='main-section'>                    
                    <div class="wrapper-remote-video mirror-mode" id='videos'></div>
                </div>
            </div>
            <div class="room-comm" hidden>
                <div id="canvas-container"></div>
            </div>
            <div class="room-comm tools" hidden>
                <button class="btn btn-sm rounded-0 btn-no-effect" id='toggle-video' title="Hide Video">
                    <i class="fa fa-video text-white"></i>
                </button>

                <button class="btn btn-sm rounded-0 btn-no-effect" id='toggle-mute' title="Mute">
                    <i class="fa fa-microphone-alt text-white"></i>
                </button>

                <button class="btn btn-sm rounded-0 btn-no-effect" id='share-screen' title="Share screen">
                    <i class="fa fa-desktop text-white"></i>
                </button>

                <button class="btn btn-sm rounded-0 btn-no-effect" id='record' title="Record">
                    <i class="fa fa-dot-circle text-white"></i>
                </button>
            </div>
        </div>
        <div class="col-md-4 border">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-tools-tab" data-toggle="tab" href="#tab-tools" role="tab" aria-controls="tab-home" aria-selected="true">Tools</a>
                    <a class="nav-item nav-link" id="nav-chat-tab" data-toggle="tab" href="#tab-chat" role="tab" aria-controls="tab-chat" aria-selected="false">Chat
                         <span class="badge badge-danger very-small font-weight-lighter" id='new-chat-notification' hidden>New</span>
                    </a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="tab-tools" role="tabpanel" aria-labelledby="tab-tools">
                    <div class="mt-2">
                        <button class="btn btn-warning btn-block">Video Call</button>
                        <button class="btn btn-warning btn-block">Send File</button>
                        <button class="btn btn-warning btn-block" id="btn-pen">Pen</button>
                        <button class="btn btn-warning btn-block">Document</button> 
                        <button class="btn btn-warning btn-block">Result</button> 
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-chat" role="tabpanel" aria-labelledby="tab-chat">
                    <div class="mt-3" id='chat-pane'>
                        <div id='chat-messages'></div>
                        <div class="row">
                            <textarea id='chat-input' class="form-control rounded-0 chat-box border-info" rows='3' placeholder="Type here... and press the enter"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-modal" id='recording-options-modal'>
        <div class="custom-modal-content">
            <div class="row text-center">
                <div class="col-md-6 mb-2">
                    <span class="record-option" id='record-video'>Record video</span>
                </div>
                <div class="col-md-6 mb-2">
                    <span class="record-option" id='record-screen'>Record screen</span>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <button class="btn btn-outline-danger" id='closeModal'>Close</button>
                </div>
            </div>
        </div>
    </div>
        
        <div class="container-fluid" id='room-create' hidden>
            <div class="row">
                <div class="col-12 h2 mt-5 text-center">Create Room</div>
            </div>
            
            <div class="row mt-2">
                <div class="col-12 text-center">
                    <span class="form-text small text-danger" id='err-msg'></span>
                </div>

                <div class="col-12 col-md-4 offset-md-4 mb-3">
                    <label for="your-name">Your Name</label>
                    <input type="text" id='your-name' value="hello@email.com" class="form-control rounded-0" placeholder="Your Name">
                </div>

                <div class="col-12 col-md-4 offset-md-4 mb-3">
                    <button id='create-room' class="btn btn-block rounded-0 btn-info">Create Room</button>
                </div>
            </div>
        </div>
        
        <div class="container-fluid" id='username-set' hidden>
            <div class="row">
                <div class="col-12 h4 mt-5 text-center">Your Name</div>
            </div>
            
            <div class="row mt-2">
                <div class="col-12 text-center">
                    <span class="form-text small text-danger" id='err-msg-username'></span>
                </div>

                <div class="col-12 col-md-4 offset-md-4 mb-3">
                    <label for="username">Your Name</label>
                    <input type="text" id='username' class="form-control rounded-0" placeholder="Your Name">
                </div>

                <div class="col-12 col-md-4 offset-md-4 mb-3">
                    <button id='enter-room' class="btn btn-block rounded-0 btn-info">Enter Room</button>
                </div>
            </div>
        </div>
</div>

<script src='/socket.io/socket.io.js'></script>
<script type="module" src='/WebRTC/rtc.js'></script>
<script type="module" src='/WebRTC/events.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/7.3.0/adapter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js'></script>
<script src="/Canvas/canvas-designer-widget.js"></script>
<script src="/Canvas/canvas-designer.js"></script>
<script>
    sessionStorage.setItem('name', `{{user.firstName}} {{user.lastName}}`)
    sessionStorage.setItem('username', `Testing{{user.email}}`)
</script>

{{> footer}}